/* For devices that support hover */

a:hover {
    color: var(--yellow-1);
}
.nav-link:hover {
    color: var(--yellow-0);
    border-bottom: 4px solid var(--yellow-0);
    cursor: pointer;
}

.button.primary:hover {
    background: var(--yellow-1);
    transform: scale(1.1);
    cursor: pointer;
}

.button.secondary:hover {
    border: 2px solid var(--yellow-1);
    color: var(--yellow-1);
    transform: scale(1.1);
    cursor: pointer;
}
#title {
    cursor: pointer;
}
#footer-contact > a:hover {
    color: var(--yellow-1);
}
#footer-contact > a:hover > svg {
    color: var(--yellow-1);
}