---
title: "404 Not Found"
description: "Who made a typo?"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    {% include head.html %}

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main>
        <div class="content-block row screen">
            <div class="content" style="flex: 2.5;">
                <h1>404 Not Found</h1>
                <p>
                    It appears that the page you seek, just like our funding, is non-existent. Please double-ckeck the spelling of the URL.
                    If you are certain the page used to exist, then it is likely someone just made a typo - please submit a <a
                        href="https://github.com/gssrobotics/gssrobotics.github.io/issues">bug report on GitHub.</a>
                </p>
            </div>
            <div class="content">
                <img class="full" src="assets/pictures/jfztar.webp" style="flex: 1;">
            </div>
        </div>
    </main>

    {% include footer.html %}
    <script src="script.js" defer></script>
</body>
</html>