---
title: "About Us"
description: ""
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    {% include head.html %}

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main>
        <div class="content-block">
            <div class="content">
                <h1>About Us</h1>
                <p>Someone write a paragraph here.</p>
            </div>
        </div>
        <div class="content-block timeline">
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">1</div>
                        <div class="timeline-title">
                            <span class="title">Start of FTC at GSS Robotics</span>
                            <span class="date">September 2024</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                            Our FTC team meets for the first time. Our team consisted of 6 members. We begin by participating and winning $1000 through the FTC Sim challenge.
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">2</div>
                        <div class="timeline-title">
                            <span class="title">L. A. Matheson Qualifier</span>
                            <span class="date">January 17, 2025</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                        We compete in the L.A. Matheson Qualifier during the 24/25 season <i>Into the Deep</i>. We played 5 rounds and placed 19th out of 20. It was our first ever competition within the First Tech Challenge. 
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">3</div>
                        <div class="timeline-title">
                            <span class="title">Start of Decode Season</span>
                            <span class="date">September 2025</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                        At the start of the new season, <i>Decode</i>, we take apart our old robot and start again. We only have 5 members this season, and we used a collection of miscellaneous parts to build our robot.
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">4</div>
                        <div class="timeline-title">
                            <span class="title">Port Moody Qualifier</span>
                            <span class="date">January 31, 2026</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                        We arrive at Port Moody Secondary to compete for a spot at the regionals. Building and programming our robot in between games, we played 5 matches and won 3 of them. We placed 9th of 25 and were one place short of the playoffs. 
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">5</div>
                        <div class="timeline-title">
                            <span class="title">Initial Launch of This Website</span>
                            <span class="date">June 20, 2026</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                        Our programmed designed and coded this website, going live at <a href="gssrobotics.github.io">gssrobotics.github.io</a> after 5 internal iterations. Within a couple days, the website rose to the first Google Search result for the term "gss robotics ftc".
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number filled">6</div>
                        <div class="timeline-title">
                            <span class="title">Start of Biobuzz Season</span>
                            <span class="date">September 2026</span>
                        </div>
                    </div>
                    <div class="timeline-text solid">
                        <p>
                        We start our 3rd season full of hope. We begin planning to finally earn a place at regionals, and contacting potential sponsors for funding.
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number outlined">7</div>
                        <div class="timeline-title">
                            <span class="title">Next Steps: New Robot Parts</span>
                            <span class="date">Estimated time: October 2026</span>
                        </div>
                    </div>
                    <div class="timeline-text dotted">
                        <p>
                        We are planning to buy a new Starter Kit, as well as strafer wheels and a REV Expansion Hub to put our robot on par with competitors in terms of physical and mechanical features. We are currently fundraising by reaching out to local businesses and other potential sponsors.
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
            <div class="content timeline">
                <div class="timeline-content">
                    <div class="timeline-header">
                        <div class="number outlined">8</div>
                        <div class="timeline-title">
                            <span class="title">Next Steps: Sensing Capabilities</span>
                            <span class="date">Estimated time: December 2026</span>
                        </div>
                    </div>
                    <div class="timeline-text dotted">
                        <p>
                        We plan to use a webcam and colour sensors to help our robot understand its surroundings and better perform during the autonomous period.
                        </p>
                    </div>
                </div>
                <img class="timeline-image" src="">
            </div>
        </div>
        <div class="content-block row">
            
        </div>
    </main>

    {% include footer.html %}
    <script src="script.js" defer></script>
</body>
</html>