/* Hero */
#hero {
    width: 100vw;
    height: 100vh;
    background: var(--background-1);
    padding: 96px 128px;
    overflow: hidden;
    position: relative;
}

#hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 60%;
}

#hero-title {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#hero-title > h1, span {
    margin: 0;
}

#hero-title > h1 {
    font-size: 4.5rem;
    margin: -8px 0;
}

#hero-top {
    font-size: 1.5rem;
}

#hero-bottom {
    font-size: 1.5rem;
    float: right;
}

#hero-content > p {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
}

#hero-image {
    position: absolute;
    right: 0;
    bottom: -96px;
    width: 43%;
}