---
title: "Join Us"
description: "We look for people who can create and innovate. It doesn't mean that your interests must be towards robotics or engineering instead we want to try and incorporate your interests and hobbies."
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    {% include head.html %}

    <link rel="stylesheet" href="{{ '/index.css' | relative_url }}">

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main>
        <div class="content-block">
            <div class="content">
                <h1>Join Bear Necessities!</h1>
            </div>
        </div>
        <div class="content-block row">
            <div class="content">
                <h2>What we're looking for</h2>
                <p>
                    We look for people who can create and innovate. It doesn't mean that your interests must be towards robotics or
                    engineering instead we want to try and incorporate your interests and hobbies.
                </p>
                <h4>Artists</h4>
                <p>
                    You could design and draw diagrams for our robot, or create presentations and posters. You
                    could even make crafts to share with other teams during tournaments to foster good relationships.
                </p>
                <h4>Photographers</h4>
                <p>
                    Document our progress and work on camera throughout the season. Feature your photos on the website and in our
                    presentation for the judges or posters around the school.
                </p>
                <h4>Creative Writing</h4>
                <p>
                    Use your writing skills to create a portfolio and script for the judge's presentation, documenting important details,
                    our design and building process, and challenges.
                </p>
                <h4>Social Media & Communication</h4>
                <p>
                    Work with photographers and document the process and send updates to sponsors or post on our social media
                    platforms to showcase our progress and connect with other teams. You could reach out to potential sponsors and pitch
                    sponsorship proposals.
                </p>
                <h2>Requirements</h2>
                <p>
                    Even if you only do things related to your hobbies or interest, we still expect you to show up to meetings on time, stay
                    for the full meeting and attend competitions. Lastly, you should still try to be involved with building the robot as
                    much as possible, and always be ready to help.
                </p>
            </div>
            <div class="content content-card sticky">
                <h2>Join Us!</h2>
                <h3>When?</h3>
                <p>Every Monday, 2:45 PM to 5:00 PM. Additional meetings may be added when time before the competition is limited.</p>
                <h3>Where?</h3>
                <p>Garibaldi Secondary School - Room 2038</p>
                <h3>How?</h3>
                <p>You can join by: </p>
                <ul>
                    <li>Talking to Mr. Skartvedt</li>
                    <li>Signing up in the library hallway if available</li>
                    <li>Meeting us on Monday after school (Room 2038)</li>
                </ul>
            </div>
        </div>
    </main>

    {% include footer.html %}
</body>
</html>