/* Colour palettes */
@media (prefers-color-scheme: dark) {

    /* Dark mode */
    :root {
        --bg0: #20282F;
        --bg1: #34404B;
        --bg1t: #34404Bbb;
        --tx0: #FFFFFF;
        --tx1: #AFB4B9;
        --ac0: #FFB200;
        --ac1: #ac7900;
        --av0: #B6B9FE;
        --av1: #888BFF;
    }
}

@media (prefers-color-scheme: dark) {

    /* Light mode */
    :root {
        --bg0: #FFFFFF;
        --bg1: #AFB4B9;
        --tx0: #000000;
        --tx1: #43474B;
        --ay0: #FFB200;
        --ay1: #ffd167;
        --ay1t: #ffd980bb;
        --ab0: #88a6c8;
        --ab1: #7094ad;
        --ab2: #63b2b8;
        --ab3: #213d46;
        --av0: #262a58;
        --av1: #444677;
    }
}

@font-face {
    font-family: 'Coiny';
    src: url('fonts/Coiny-Regular.ttf') format('truetype');
}

@keyframes lojiggle {
    0% {transform: rotate(0deg);}
    12% {transform: rotate(10deg) scale(1.1);}
    25% {transform: rotate(0deg) scale(1.1);}
    37% {transform: rotate(-10deg) scale(1.2);}
    50% {transform: rotate(0deg) scale(1.2);}
    62% {transform: rotate(10deg) scale(1.2);}
    75% {transform: rotate(0deg) scale(1.2);}
    87% {transform: rotate(-10deg) scale(1.1);}
    100% {transform: rotate(0deg) scale(1.1);}
}

@view-transition {
    navigation: auto;
}

/* Global styles */

:root {
    --bounce0: cubic-bezier(.16, -0.42, .61, 1.48);
    --time0: 0.15s;
}

::selection {
    color: #000;
    background: var(--ac0);
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg0);
    color: var(--tx0);
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--ay0) var(--bg0);
    overscroll-behavior: contain;
}

hr {
    border: none;
    border-top: 1px solid var(--tx1);
    margin: 20px 40px;
}

h1.coiny,
h2.coiny,
h3.coiny {
    margin: 8px;
    margin-left: 0;
    padding: 0;
    font-family: 'Coiny', sans-serif;
    /* reduce line spacing */
    margin-bottom: -32px;
    /* add border and highlights/shadows */
    -webkit-text-stroke: 2px var(--av0);
    text-shadow:
        -3px 1.5px 0.5px var(--av0);
    /* make font condensed */
    transform: scaleX(0.9);
    transform-origin: left;
    color: var(--av1);
}
h1.coiny {
    font-size: 5rem;
}
h2.coiny {
    font-size: 4rem;
}
h3.coiny {
    font-size: 3rem;
}

h1,
h2,
h3 {
    margin: 8px;
    margin-left: 0;
    padding: 0;
}

h4,
h5,
h6 {
    margin: 4px;
    margin-left: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    font-size: 2.1rem;
    font-weight: 400;
}

h3 {
    font-size: 1.7rem;
    font-weight: 500;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--av0);
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--av0);
}

h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--av1);
}

blockquote {
    border-left: 4px solid var(--tx1);
    padding-left: 20px;
    margin-left: 0;
    color: var(--tx0);
    font-style: italic;
    transition: 0.3s ease-in-out;
}

blockquote:active {
    border-left: 4px solid var(--ay0);
    color: var(--av0);
}

a {
    color: var(--av0);
    text-decoration: none;
    transition: var(--time0) var(--bounce0);
}

a:visited {
    color: var(--av1);
}

a:active {
    color: var(--ay0);
    text-decoration: underline;
    text-decoration-color: var(--ay0);
}

mark {
    background-color: var(--ay0);
    color: black;
    padding: 0px 2px;
}

code {
    background: var(--bg1);
    color: var(--tx0);
    padding: 2px 4px;
    border-radius: 6px;
    border: 1px solid var(--bg1);
}

small {
    color: var(--tx1);
    font-size: 0.77em;
}

abbr {
    text-decoration: none;
    border-bottom: 2px dotted var(--av0);
    cursor: pointer;
    transition: var(--time0) ease-in-out;
}

abbr:active {
    border-bottom: 2px solid var(--av1);
    color: var(--av1);
}

small {
    color: var(--tx1);
    font-size: 0.77em;
}

/* Page styles */

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--av0);
    z-index: 255;
    overflow: hidden;
}

.logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.logo-text>.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tx0);
}

.logo-text>.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--tx1);
}

.logo-img {
    width: 64px;
    height: 64px;
    margin: 16px;
}

ul.nav {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 28px;
    padding: 0;
    align-items: right;
}

ul.nav>li {
    border: 2px solid var(--av0);
    border-radius: 255px 15px 225px / 15px 225px 15px 255px;
    margin: 28px;
    margin-left: 16px;
    margin-right: 0;
    height: 48px;
    width: 128px;
    text-align: center;
    transition: var(--time0) var(--bounce0);
}

ul.nav>li.active {
    background: var(--av0);
}

ul.nav>li>a {
    color: var(--av0);
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

ul.nav > li > a > svg {
    width: 20px;
    height: 20px;
    fill: var(--av0);
    transition: 0.2s ease-in-out;
}

ul.nav>li.active>a {
    color: var(--bg0);
}

ul.nav > li > a > svg {
    width: 20px;
    height: 20px;
    fill: var(--bg0);
}
.mobile-hamburger {
    width: 48px !important;
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none !important;
    margin-right: 28px;
}

.mobile-hamburger>svg {
    width: 36px;
    height: 36px;
    color: var(--av0);
}

/* content */
.right {
    float: right;
    padding: 16px 0px 16px 16px;
}

.left {
    float: left;
    padding: 16px 16px 16px 0px;
}

.w50 {
    width: calc((70vw * 0.5) - 16px);
}

.w70 {
    width: calc((70vw * 0.7) - 16px);
}

.w30 {
    width: calc((70vw * 0.3) - 16px);
}

.large-content-block {
    width: 70vw;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 24px 15vw;
}

.large-content-block.top {
    padding-top: 108px;
}

.large-content-block.fullscreen {
    height: calc(100vh - 108px);
    padding-top: 108px;
}

footer {
    background: var(--bg0);
    color: var(--tx1);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15vw;
}

/* Hover devices */
@media only screen and (hover: hover) and (pointer: fine) {
    ul.nav>li:hover {
        border-radius: 15px 255px 15px 225px / 255px 15px 225px 15px;
    }
    ul.nav>li:hover>a>svg {
        animation: lojiggle 0.5s ease-in-out;
        transform: scale(1.1);
    }

    ul.nav>li:hover>a {
        color: var(--av1);
    }

    ul.nav>li.active:hover>a {
        color: var(--ay0);
    }
}

/* Mobile devices and small screens */
@media (max-width: 768px) {
    h1.coiny {
        font-size: 4rem;
    }

    h2.coiny {
        font-size: 3rem;
    }

    h3.coiny {
        font-size: 2rem;
    }
    .logo-link {
        transition: var(--time0) var(--bounce0);
        width: auto;
    }
    .logo-link:not(.visible) {
        width: 0;
        overflow: hidden;
        transform: scaleX(0);
        transform-origin: left;
    }
    .mobile-hamburger {
        display: flex;
        transition: var(--time0) var(--bounce0);
    }
    ul.nav>li:not(.mobile-hamburger) {
        width: 0px;
        padding: 0;
        border: none;
        margin-left: 0;
        transition: var(--time0) var(--bounce0);
    }
    ul.nav>li:not(.mobile-hamburger).visible {
        width: 48px;
        margin-left: 8px;
        border: 2px solid var(--av0);
    }
    ul.nav > li > a {
        font-size: 0;
        line-height: 0;
        gap: 0px;
    }
    .large-content-block {
        width: calc(100% - 32px);
        padding: 24px 16px;
    }
    .w50, .w70, .w30 {
        width: calc(100% - 32px);
    }
    .right, .left {
        float: none;
        width: 100%;
        padding: 16px 0;
    }
}

/* Tablets and medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
    ul.nav > li {
        width: 96px;
        margin-left: 12px;
    }
    ul.nav > li > a {
        gap: 0px;
    }
    ul.nav > li > a > svg {
        display: none;
    }
    .large-content-block {
        width: calc(100% - 32px);
        padding: 24px 16px;
    }
    .w50 {
        width: calc((100vw * 0.5) - 32px);
    }

    .w70 {
        width: calc((100vw * 0.7) - 32px);
    }

    .w30 {
        width: calc((100vw * 0.3) - 32px);
    }
}