<header>
    <a href="index.html" id="title">
        <img id="logo" src="assets/graphics/robotics.svg">
        <div id="header-text">
            <span id="header-title">GSS Robotics</span>
        </div>
    </a>
    <nav>
        <a class="nav-link active" href="index.html">
            Home
        </a>
        <a class="nav-link">
            About Us
        </a>
        <a class="nav-link">
            Robots
        </a>
        <a class="nav-link">
            Contact
        </a>
        <a class="nav-action">
            <button class="nav-action primary">
                Join Us
            </button>
        </a>
        <a class="nav-action">
            <button class="nav-action secondary">
                Sponsor
            </button>
        </a>
    <nav>
</header>