<header>
    <a href="index.html" id="title">
        <img id="logo" src="assets/graphics/robotics.svg">
        <div id="header-text">
            <span id="header-title">GSS Robotics</span>
        </div>
    </a>
    <nav>
        <a class="nav-link active" href="index.html">
            Home
        </a>
        <a class="nav-link">
            About
        </a>
        <a class="nav-link">
            Robots
        </a>
        <a class="nav-link">
            Contact
        </a>
        <a class="nav-action">
            <button class="nav-action primary">
                Join Us
            </button>
        </a>
        <a class="nav-action">
            <button class="nav-action secondary">
                Sponsor
            </button>
        </a>
    </nav>
    <div id="mobile-menu-button" onClick="toggleMobileMenu();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48">
            <rect width="48" height="12" x="0" y="0" class="fills" rx="4" ry="4" fill="currentColor" />
            <rect width="48" height="12" x="0" y="18" class="fills" rx="4" ry="4" fill="currentColor" />
            <rect width="48" height="12" x="0" y="36" class="fills" rx="4" ry="4" fill="currentColor" />
        </svg>
    </div>
</header>