<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">

<!-- Style sheets -->
<link rel="stylesheet" href="{{ '/style.css' | relative_url }}">

<!-- Icons -->
<link rel="icon" type="image/svg+xml" sizes="any" href="assets/favicon.svg">
<link rel="icon" type="image/png" sizes="64x64" href="assets/favicon64.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/AppleTouchIcon.png" />

<!-- Google Site Verification -->
<meta name="google-site-verification" content="fm_xdfuMebpW8s0CaanvvmMZkCdBbi-6EEmalNopTNk" />

<!-- JSON-LD data for Google Search -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "GSS Robotics",
  "url": "https://gssrobotics.github.io"
}
</script>